*{
    margin: 0px;
}

body{
    background-color: #8999a8;
}

.title{
     margin: 10px 0 0 10px;
}

.des{
    margin: 10px 0 0 10px;
}

.nav-section{
     display: flex;
     justify-content: center;
     width: 100%;
     height: 70px;
     background-color: #a7b2bf;
}

.notes{
    width: 400px;
    height: 77%;
    margin: 20px 20px 40px 100px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.notes-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

.logout-btn{
    position:fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 30px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 5px;
    background-color: #FF0000;
}

.nav-heading{
     font-size: 30px;
     padding: 20px 0px;
}

.note-section{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}

::placeholder{
    color: #FFFFFF;
}

.input{
    padding: 10px;
    border: none;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #8999a8;
    outline: none;
}

.submit-button{
     position:relative;
     left: 420px;
     border: none;
     width: 50px;
     color: #FFFFFF;
     font-weight: 600;
     background-color: #8999a8;
}

.editbutton{
     position: relative;
     left: 350px;
     margin-top: 20px;
}

.SignUp-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    margin-top: 200px;
    width: 500px;
    background-color: #8999a8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.Signin-link{
    margin-top: 20px;
     text-align: center;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    background-color:#8999a8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.DeleteButton{
    position: relative;
    left: 330px;
    border: none;
    color: #FFFFFF;
    background-color: #8999a8;
}

.titleInput{
    height: 30px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-weight:700;
    background-color: #8999a8;
}

.updateBtn{
    position: relative;
    left: 420px;
    top: 40px;
    width: 60px;
    border: none;
    outline: none;
    color: #FFFFFF;
    background-color: #8999a8;
}

.signup-btn{
    border: none;
    color: #FFFFFF;
    background-color: #404258;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}